.style-0 {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#066bff),to(#01b8ff));
  background-image: -webkit-linear-gradient(bottom,#066bff 0,#01b8ff 100%);
  background-image: linear-gradient(0deg,#066bff 0,#01b8ff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-2 {
  background-color: #5cc1ff;
  border-radius: 80px 80px
}
.style-4 {
  color: rgba(199,231,253,.3);
  font-size: 19px
}
.style-4,
.style-5,
.style-6 {
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-style: normal
}
.style-5 {
  color: rgba(199,231,253,.75);
  font-size: 19px
}
.style-6 {
  color: #fff;
  font-size: 11px
}
.style-8 {
  opacity: .35
}
.style-10,
.style-8,
.style-9 {
  background-color: #fff;
  border-radius: 5px 5px
}
.style-10 {
  opacity: .35
}
.style-12 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal
}
.style-13 {
  background-color: #fff
}
.style-14 {
  background-color: #08f;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  border-radius: 3px 3px
}
.style-15,
.style-16,
.style-17 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal
}
.style-16,
.style-17 {
  color: #202020;
  font-size: 15px
}
.style-17 {
  color: #fe5511;
  font-size: 21px
}
.style-18 {
  background-color: #08f
}
.style-19 {
  -webkit-box-shadow: 0 2px 7px 1px rgba(0,0,0,.5);
  box-shadow: 0 2px 7px 1px rgba(0,0,0,.5)
}
.style-21 {
  opacity: .35
}
.style-21,
.style-22,
.style-23 {
  background-color: #fff;
  border-radius: 5px 5px
}
.style-23 {
  opacity: .35
}
.style-24 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 19px;
  font-weight: 700;
  font-style: normal
}
.style-25 {
  background-color: #fff
}
.style-26 {
  background-color: #08f;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  border-radius: 3px 3px
}
.style-27,
.style-28,
.style-29 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal
}
.style-28,
.style-29 {
  color: #202020;
  font-size: 15px
}
.style-29 {
  color: #65c;
  font-size: 21px
}
.style-30 {
  background-color: #08f
}
.style-33 {
  opacity: .35
}
.style-33,
.style-34,
.style-35 {
  background-color: #fff;
  border-radius: 5px 5px
}
.style-35 {
  opacity: .35
}
.style-36 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 19px;
  font-weight: 700;
  font-style: normal
}
.style-37 {
  background-color: #242424
}
.style-38 {
  background-color: #fff
}
.style-39 {
  border: 1px solid #020202;
  border-radius: 19px 19px
}
.style-41 {
  background-image: url(https://designresources.assets.yotako.io/40599uf7jd1scxzw.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-42,
.style-43,
.style-44 {
  color: #9a9a9a;
  text-align: left;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal
}
.style-43,
.style-44 {
  color: #757575;
  font-size: 13px
}
.style-44 {
  color: #202020;
  font-size: 16px;
  font-weight: 700
}
.style-46 {
  border: 1px solid #020202;
  border-radius: 19px 19px
}
.style-48 {
  background-image: url(https://designresources.assets.yotako.io/40599uf7jd1scy97.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-49,
.style-50,
.style-51 {
  color: #9a9a9a;
  text-align: left;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal
}
.style-50,
.style-51 {
  color: #757575;
  font-size: 13px
}
.style-51 {
  color: #202020;
  font-size: 16px;
  font-weight: 700
}
.style-53 {
  border: 1px solid #020202;
  border-radius: 19px 19px
}
.style-55 {
  background-image: url(https://designresources.assets.yotako.io/40599uf7jd1scyi7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-56,
.style-57,
.style-58 {
  color: #9a9a9a;
  text-align: left;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal
}
.style-57,
.style-58 {
  color: #757575;
  font-size: 13px
}
.style-58 {
  color: #202020;
  font-size: 16px;
  font-weight: 700
}
.style-60 {
  background-color: #0086ff;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.25)
}
.style-62 {
  color: #fefefe;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal
}
.style-63 {
  background-color: #f55511
}
.style-64,
.style-65 {
  color: #fefefe;
  text-align: right;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal
}
.style-65 {
  text-align: left;
  font-size: 15px;
  font-weight: 400
}
.style-67 {
  background-color: #fff
}
.style-68,
.style-69,
.style-70 {
  background-color: #b4b4b4;
  border-radius: 5px 5px
}
.style-69,
.style-70 {
  background-color: #08f
}
.style-70 {
  background-color: #b4b4b4
}
.style-71,
.style-74 {
  color: #202020;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal
}
.style-74 {
  color: #0086ff;
  font-size: 13px
}
.artboard-1-container-0-row-0,
.style-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-0 {
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-1-container-0-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 50px 0 0 10.38%;
  width: 82.689%;
  height: 3.804%
}
.style-11 {
  position: initial;
  width: 8.568%;
  height: 100%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-8,
.style-9 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 3.018%;
  height: 36.904%
}
.style-8 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 11px 0 0 30.86%;
  z-index: 8
}
.style-9 {
  margin: 11px 0 0 3.79%;
  z-index: 9
}
.style-10,
.style-7,
.style-9 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-10 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 11px 0 0 3.79%;
  width: 3.018%;
  height: 36.904%;
  z-index: 10
}
.style-7 {
  margin: 0 0 0 35.73%;
  width: 8.179%;
  height: 100%;
  z-index: 7
}
.artboard-1-container-0-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 11px 0 0 4.66%;
  width: 91.787%;
  height: 1.811%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-12,
.style-4,
.style-6 {
  position: initial;
  width: 19.035%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-4,
.style-6 {
  margin: 0 0 0 66.57%;
  width: 14.385%;
  z-index: 6
}
.style-4 {
  margin: 45px 0 0 12.23%;
  width: 75.362%;
  z-index: 4
}
.style-5 {
  margin: 8px 0 0 29.62%;
  width: 40.74%;
  z-index: 5
}
.style-1,
.style-2,
.style-3,
.style-5 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 35px 0 0 28.58%;
  width: 42.753%;
  height: 24.048%;
  z-index: 2
}
.style-1,
.style-3 {
  margin: 28px 0 0 20.52%;
  width: 61.016%;
  height: 65.348%;
  z-index: 3
}
.style-1 {
  margin: 85px 0 0 42.1%;
  width: 15.7%;
  height: 8.831%;
  z-index: 1
}
.artboard-2-container-1-row-0,
.style-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-18 {
  z-index: 5;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 46.512%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-2-container-1-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 40px 0 0 40.41%;
  width: 55.314%;
  height: 5.939%
}
.style-24 {
  position: initial;
  width: 34.497%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-20 {
  position: relative;
  margin: 5px 0 0 56.62%;
  width: 8.879%;
  height: 100%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-1-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 13px 0 0 43.07%;
  width: 13.768%;
  height: 3.018%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-21,
.style-22,
.style-23 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 18.128%;
  height: 100%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-22,
.style-23 {
  z-index: 10
}
.style-22 {
  z-index: 9
}
.style-19 {
  position: relative;
  margin: 18px 0 0 22.7%;
  width: 54.75%;
  height: 97.078%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 53.713%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-17 {
  position: initial;
  margin: 128px 0 0 32.93%;
  width: 34.138%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-16 {
  margin: 22px 0 0 24.63%;
  width: 50.724%;
  z-index: 3
}
.style-14,
.style-15,
.style-16 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 13.996%;
  margin: 29px 0 0 24.79%;
  width: 50.322%;
  z-index: 1
}
.style-15 {
  margin: 20px 0 0 32.8%;
  width: 34.4%;
  z-index: 2
}
.artboard-3-container-1-row-0,
.style-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-30 {
  z-index: 5;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 46.512%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-3-container-1-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 40px 0 0 40.41%;
  width: 55.314%;
  height: 5.939%
}
.style-36 {
  position: initial;
  width: 34.497%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-32 {
  position: relative;
  margin: 5px 0 0 56.62%;
  width: 8.879%;
  height: 100%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-3-container-1-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 13px 0 0 43.07%;
  width: 13.768%;
  height: 3.018%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-33,
.style-34,
.style-35 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 18.128%;
  height: 100%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-34,
.style-35 {
  z-index: 10
}
.style-34 {
  z-index: 9
}
.style-31 {
  position: relative;
  margin: 17px 0 0 23.18%;
  width: 53.703%;
  height: 97.663%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 53.713%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-29 {
  position: initial;
  margin: 128px 0 0 23.59%;
  width: 52.657%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-28 {
  margin: 17px 0 0 24.63%;
  width: 50.724%;
  z-index: 3
}
.style-26,
.style-27,
.style-28 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 13.996%;
  margin: 29px 0 0 24.79%;
  width: 50.322%;
  z-index: 1
}
.style-27 {
  margin: 20px 0 0 32.8%;
  width: 34.4%;
  z-index: 2
}
.artboard-4-container-3-row-0,
.style-67 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-67 {
  z-index: 30;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 35.643%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-4-container-3-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 23px 0 0 4.34%;
  width: 58.615%;
  height: 7.75%
}
.style-72 {
  position: initial;
  width: 7.967%;
  height: 100%;
  z-index: 35;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-71 {
  position: relative;
  margin: 3px 0 0 47.52%;
  width: 44.505%;
  z-index: 34;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-4-container-3-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 14px 0 0 43.55%;
  width: 13.607%;
  height: 3.939%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-70 {
  position: initial;
  z-index: 33;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-68,
.style-69,
.style-70 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 18.343%;
  height: 100%
}
.style-68 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 31
}
.style-69 {
  z-index: 32
}
.style-69,
.style-73,
.style-74 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-73 {
  height: 26.81%;
  margin: 36px 0 0 41.54%;
  width: 17.793%;
  z-index: 36
}
.style-74 {
  margin: 33px 0 0 39.37%;
  width: 21.336%;
  z-index: 37
}
.style-63 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 27px 0 0;
  width: 100%;
  height: 20.838%;
  z-index: 26;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-4-container-3-container-2-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 14px 0 0 4.34%;
  width: 86.312%;
  height: 42.073%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-66 {
  position: initial;
  width: 6.436%;
  height: 100%;
  z-index: 29;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-64,
.style-65 {
  position: initial;
  margin: 4px 0 0 3.17%;
  width: 44.123%;
  z-index: 28;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-64 {
  margin: 5px 0 0 29.1%;
  width: 17.164%;
  z-index: 27
}
.style-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 46px 0 0;
  width: 100%;
  height: 50.226%;
  z-index: 1;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.artboard-4-container-1-btn-primary-full-row-0,
.style-60 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-60 {
  z-index: 23;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5px 0 0 8.85%;
  width: 82.769%;
  height: 12.804%
}
.artboard-4-container-1-btn-primary-full-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 34.24%;
  width: 32.392%;
  height: 35.915%
}
.style-61,
.style-62 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-61 {
  height: 100%;
  width: 13.213%;
  z-index: 24
}
.style-62 {
  margin: 2px 0 0 15.01%;
  width: 71.771%;
  z-index: 25
}
.artboard-4-container-1-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 27px 0 0 4.58%;
  width: 91.223%;
  height: 17.944%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-59 {
  position: initial;
  width: 17.563%;
  height: 100%;
  z-index: 22;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-4-container-1-row-1-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 2px 0 0 5.82%;
  width: 35.304%;
  height: 94.974%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-53,
.style-56,
.style-57,
.style-58 {
  position: initial;
  width: 69.5%;
  z-index: 21;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-53,
.style-56,
.style-57 {
  margin: 8px 0 0;
  width: 100%;
  z-index: 20
}
.style-53,
.style-56 {
  margin: 6px 0 0;
  width: 58.75%;
  z-index: 19
}
.style-53 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 10px 0 0 6.35%;
  width: 11.032%;
  height: 62.814%;
  z-index: 16
}
.style-54,
.style-55 {
  position: initial;
  margin: 13px 0 0 40.8%;
  width: 24%;
  height: 30.4%;
  z-index: 17;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-55 {
  margin: 18px 0 0 2.03%;
  width: 21.888%;
  height: 37.185%;
  z-index: 18
}
.artboard-4-container-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 34px 0 0 4.58%;
  width: 91.223%;
  height: 18.034%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-52 {
  position: initial;
  width: 17.652%;
  height: 100%;
  z-index: 15;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-4-container-1-row-2-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1px 0 0 5.64%;
  width: 23.83%;
  height: 95.5%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-46,
.style-49,
.style-50,
.style-51 {
  position: initial;
  width: 100%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-46,
.style-49,
.style-50 {
  margin: 8px 0 0;
  width: 78.148%;
  z-index: 13
}
.style-46,
.style-49 {
  margin: 6px 0 0;
  width: 87.777%;
  z-index: 12
}
.style-46 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 10px 0 0 17.91%;
  width: 11.032%;
  height: 62.5%;
  z-index: 9
}
.style-47,
.style-48 {
  position: initial;
  margin: 13px 0 0 40.8%;
  width: 24%;
  height: 30.4%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-48 {
  margin: 18px 0 0 2.03%;
  width: 21.888%;
  height: 37%;
  z-index: 11
}
.artboard-4-container-1-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 33px 0 0 4.66%;
  width: 91.143%;
  height: 17.853%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-45 {
  position: initial;
  width: 17.491%;
  height: 100%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-4-container-1-row-3-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 2px 0 0 5.74%;
  width: 20.936%;
  height: 94.949%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-39,
.style-42,
.style-43,
.style-44 {
  position: initial;
  width: 56.54%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-39,
.style-42,
.style-43 {
  margin: 12px 0 0;
  width: 36.708%;
  z-index: 6
}
.style-39,
.style-42 {
  margin: 10px 0 0;
  width: 100%;
  z-index: 5
}
.style-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 10px 0 0 20.84%;
  width: 11.042%;
  height: 63.131%;
  z-index: 2
}
.style-40,
.style-41 {
  position: initial;
  margin: 13px 0 0 40.8%;
  width: 24%;
  height: 30.4%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-41 {
  margin: 18px 0 0 2.03%;
  width: 21.908%;
  height: 37.373%;
  z-index: 4
}
.style-37 {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 9px 0 0;
  width: 100%;
  height: 15.058%;
  z-index: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}